{% extends "base.html" %}

{% block content %}

    <section class="container">
	<div class="row mb-3">
		<h6 class="text-responsive ml-auto mr-auto">({{ session.start_date }} - {{ session.end_date }})</h6>
	</div>
	<div class="row mb-3">		
		<h2>Expenses</h2>
		<a class="btn btn-success ml-auto" href="income.html" data-toggle="modal" data-target="#pickdate">Change dates</a>
		</form>
	</div>
	
	<div class="row">	
		<div class="card col-sm-6 p-3">
			<div>
				<h4>Planned expenses</h4>
			</div>
			<div>
				<h3><hr></h3>
			</div>
			<div class="text-center h4">
				6000PLN
			</div>
			
			<div>
				<h4>Actual expenses</h4>
			</div>
			<div>
				<h3><hr></h3>
			</div>
			<div class="text-center h4">
				{{ expenses_summed }}PLN
			</div>
			<div>
				<h4>Difference </h4>
			</div>
			<div>
				<h3><hr></h3>
			</div>
			<div class="text-center h4">
				0PLN
			</div>
		</div>
		<div class="col-sm-6">
		<canvas id="expenseChart" width="400px" height="400px"></canvas>
		</div>
	</div>
	</section>
	<section class="container">
	<div class="row my-3">
		
			<h2>Expenses</h2>
			<div class="btn-group ml-auto" role="group">
			<a class="btn btn-success" href="income.html" data-toggle="modal" data-target="#addincome">+</a>
			<a class="btn btn-success" href="income.html" data-toggle="modal" data-target="#delincome">-</a>
			</div>
	</div>
    
	
	
	<div class="row">
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Category</th>
					<th>Description</th>
					<th>Date</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>
				{% for expense in expenses %}
				<tr>
		         <td class="expense">{{ expense.id }}</td>
		         <td class="expense">{{ expense.name}}</td>
		         <td class="expense">{{ expense.expense_comment }}</td>
				 <td class="expense">{{ expense.date_of_expense }}</td>
				 <td class="expense">{{ expense.amount }}</td>
				</tr>				
				{% endfor %}
			</tbody>
		</table>
	</div>
	</section>
	

{% endblock %}
