{% extends "base.html" %}

{% block content %}

    <section class="container">
	<div class="row mb-3">
		<h6 class="ml-auto mr-auto">({{ session.start_date }} - {{ session.end_date }})</h6>
	</div>
	<div class="row mb-3">		
		<h3>Budget</h3>		
       	<a class="btn btn-success ml-auto" href="income.html" data-toggle="modal" data-target="#pickdate"><i class="far fa-calendar-alt"></i></a>
	</div>
	
	<div class="row">
		<div class="card col-sm-6 p-3">
			<div>
				<h4>Planned budget</h4>
			</div>
			<div>
				<h3><hr></h3>
			</div>
			<div class="text-center">
				Incomes: {{ incomes_planned_summed }}PLN
			</div>
			<div class="text-center">
				Expenses: {{ expenses_planned_summed }}PLN
			</div>
			<div class="text-center mb-3">
				To be disposed: {{ (incomes_planned_summed - expenses_planned_summed ) |number_format(2, '.', '')}}PLN
			</div>
			<div>
				<h4>Actual budget</h4>
			</div>
			<div>
				<h3><hr></h3>
			</div>
			<div class="text-center">
				Incomes: {{ incomes_summed }}PLN
			</div>
			<div class="text-center">
				Expenses: {{ expenses_summed }}PLN
			</div>
			<div class="text-center">
				To be spent: {{ ( incomes_summed - expenses_summed  ) |number_format(2, '.', '')}}PLN
			</div>
			{% if incomes_summed > expenses_summed %}
			<div class="text-center my-3 alert-success">
				<h3>Well done. Budget under control.</h3>
			</div>	
			{% elseif (incomes_summed > expenses_summed) and ((incomes_summed - 300) < expenses_summed) %}
			<div class="text-center my-3 alert-warning">
				<h3>Yaou are close to the limit!!!</h3>
			</div>	
			{% else %}
			<div class="text-center my-3 alert-danger">
				<h3>Stop spending money!!!</h3>
			</div>	
			{% endif %}
							
		</div>
		<div class="col-sm-6">
			<canvas id="budgetChart" width="400px" height="400px"></canvas>
		</div>
	</div>
	</section>
	<section class="container">
	<div class="row my-3">
		
			<h3>Incomes</h3>
			<div class="btn-group ml-auto" role="group">
			<a class="btn btn-success" href="income.html" data-toggle="modal" data-target="#addincome"><i class="fas fa-plus"></i></a>
		    <a class="btn btn-success" href="/incomes/index"><i class="fas fa-search"></i></a>
			</div>
	</div>
    
	
	
	<div class="row">
		<table>
			<thead>
				<tr>
					<th>Category</th>
					<th>Planned</th>
					<th>Earned</th>
					<th>Difference</th>
					<th>Budget</th>
				</tr>
			</thead>
			<tbody>
				{% for category in income_categories_summed %}
				<tr>
		         <td class="cat_sum_income">{{ category.name }} </td>
		         <td class="cat_sum_income">{{ category.planned }}PLN </td>
		         <td class="cat_sum_income">{{ category.earned }}PLN</td>
				 <td class="cat_sum_income">{{ (category.earned - category.planned ) |number_format(2, '.', '')}}PLN</td>
				 <td class="cat_sum_income">{{ ((category.earned / incomes_summed) *100 ) |number_format(0)}}%</td>
				</tr>				
				{% endfor %}
			</tbody>
		</table>
	</div>
	</section>
	<section class="container">
	<div class="row my-3">
		
			<h3>Expenses</h3>
		    <div class="btn-group ml-auto" role="group">
				<a class="btn btn-success" href="expense.html" data-toggle="modal" data-target="#addexpense"><i class="fas fa-plus"></i></a>
				<a class="btn btn-success" href="/expenses/index"><i class="fas fa-search"></i></a>
			</div>
	</div>

	
	<div class="row">
		<table>
			<thead>
				<tr>
					<th>Category</th>
					<th>Planned</th>
					<th>Spent</th>
					<th>Difference</th>
					<th>Budget</th>
				</tr>
				</thead>
				<tbody>
				{% for category in expense_categories_summed %}
				<tr>
		         <td class="cat_sum_expense">{{ category.name }} </td>
		         <td class="cat_sum_expense">{{ category.planned }}PLN</td>
		         <td class="cat_sum_expense">{{ category.spent }}PLN </td>
				 <td class="cat_sum_expense">{{ ( category.planned - category.spent ) |number_format(2, '.', '')}}PLN</td>
				 <td class="cat_sum_expense">{% if incomes_summed > 0 %} {{ ((category.spent / incomes_summed) *100) |number_format(0) }}%
										 {% else %} {{ 0 |number_format(0) }}%
										 {% endif %}</td>
				</tr>				
				{% endfor %}
	
			</tbody>
		</table>
	</div>
	</section>

{% endblock %}
