
	<div class="modal fade" id="addexpense" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add expense</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
			<div class="form-group">
			<label for="date"><b>Date</b></label>
			<input class="form-control" type="date" id="datePicker" value="2020-11-21" name="date" required>
			</div>
			<div class="form-group">
			<label for="category"><b>Category</b></label>
			<select class="form-control"  name="category" required>
				<option value="food">Food</option>
				<option value="transport">Transport</option>
				<option value="bills">Bills</option>
				<option value="healthcare">Healthcare</option>
				<option value="clothes">Clothes</option>
				<option value="hygene">Hygene</option>
				<option value="kids">Kids</option>
				<option value="amusement">Amusement</option>
				<option value="training">Training</option>
				<option value="books">Books</option>
				<option value="savings">Savings</option>
				<option value="pension">Pension</option>
				<option value="debts">Debts</option>
				<option value="charity">Charity</option>
				<option value="others">Others</option>			
			</select>
			</div>
			<div class="form-group">
			<label for="pmethod"><b>Payment method</b></label>
			<select class="form-control" name="pmethod" required>
				<option value="cash">Cash</option>
				<option value="card">Credit/Debit Card</option>
				<option value="transfer">Money Transfer</option>				
			</select>
			</div>
			<div class="form-group">
			<label for="amount"><b>Amount</b></label>
			<input class="form-control" type="number" step="0.01" min=”0″ placeholder="00.00" name="amount" required>
			</div>
			<div class="form-group">
			<label for="description"><b>Description</b></label>
			<input class="form-control" type="text" placeholder="Enter description" name="description">
			</div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Save</button>
      </div>
    </div>
	</div>
	</div>
	