<footer class="bg-success text-light rounded-bottom">
	<div class="mx-auto p-3 text-center">
	Copyright &copy;  2020 <a class="text-light text-decoration-none" href="#asma">asma.wroclaw.pl</a>
	</div>
  </footer>
</div>
  <script src="http://localhost/js/Chart.bundle.min.js"></script>   
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="http://localhost/js/date_picker.js"></script>
  <script src="http://localhost/js/edit_category.js"></script>
  
  {% if render_budget_chart == true %}
  
  {{ include('budget_chart.html') }}
  
  {% endif %}
  
  {% if render_income_chart == true %}
  
  {{ include('income_chart.html') }}
  
  {% endif %}
  
  {% if render_expense_chart == true %}
  
  {{ include('expense_chart.html') }}
  
  {% endif %}
  
</body>

</html>
