{% extends "base.html" %}

{% block content %}


    <section class="container">
	<div class="row mb-3">
	<h6 class="ml-auto mr-auto">({{ session.start_date }} - {{ session.end_date }})</h6>
	</div>
	<div class="row mb-3">		
		<h3>Incomes </h3>	
		<a class="btn btn-success ml-auto" href="income.html" data-toggle="modal" data-target="#pickdate"><i class="far fa-calendar-alt"></i></a>
	</div>
	
	<div class="row">
		<div class="card col-sm-6 p-3">
			<div>
				<h4>Planned</h4>
			</div>
			<div>
				<h3><hr></h3>
			</div>
			<div class="text-center h4">
				{{ incomes_planned_summed }}PLN
			</div>
			
			<div>
				<h4>Actual</h4>
			</div>
			<div>
				<h3><hr></h3>
			</div>
			<div class="text-center h4">
			
				{{ incomes_summed }}PLN
			
			</div>
			<div>
				<h4>Difference </h4>
			</div>
			<div>
				<h3><hr></h3>
			</div>
			<div class="text-center h4">
				{{ (incomes_summed - incomes_planned_summed) |number_format(2, '.', '') }}PLN
			</div>
				
		</div>
		<div class="col-sm-6">
		<canvas id="incomeChart" width="400px" height="400px"></canvas>
		</div>
		
	</div>
	</section>
	<section class="container">
	<div class="row my-3">
			
			<h3>Incomes</h3>
			<div class="btn-group ml-auto" role="group">
			<a class="btn btn-success" href="income.html" data-toggle="modal" data-target="#addincome"><i class="fas fa-plus"></i></a>
			</div>
	</div>
    
	
	
	<div class="row">
	     
		<table>
			<thead class="thead-dark">
				<tr>
					<th>Category</th>
					<th>Description</th>
					<th>Date</th>
					<th>Amount</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				{% for income in incomes %}
				<tr>
		         <td class="income">{{ income.name}}</td>
		         <td class="income">{{ income.income_comment }}</td>
				 <td class="income">{{ income.date_of_income }}</td>
				 <td class="income">{{ income.amount }}PLN</td>
				 <td class="income"><a class="btn btn-xs btn-danger btn_delete" href="/incomes/{{ income.id }}/delete"name="delete_btn" onclick="return confirm('Are you sure?')"><i class="fas fa-trash-alt"></i></a></td>
				</tr>				
				{% endfor %}
			</tbody>
		</table>
	</div>
	</section>
	{{ include('income_chart.html') }}

{% endblock %}
